# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# NuGet packages
*.nupkg
packages/

# Windows image file caches
Thumbs.db
ehthumbs.db

# User-specific files
*.user
# *.suo
*.userosscache
# *.sln.docstates

# Others
*.log
